body{
    background: linear-gradient(to right,#c31432,#240b36);
}
#container {
    position: relative;
}

#ball {
    width: 30px;
    height: 30px;
    background-color: red;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}

#bar1, #bar2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#bar1 {
    background-color: blue;
    top: 0px;    
}

#bar2 {
    background-color: black;
    bottom: 0px;
}
